<th:block th:include="_commun/header.html"></th:block>

<h1 class="alert alert-primary text-center">Fiche de Jeux</h1>

<!-- Afficher les infos du joueur -->
<ul class="list-group">
    <li class="list-group-item d-flex">
        <div class="col">Identifiant</div>
        <div class="col">
            <span th:text="${jeu.id}"></span>
        </div>
    </li>
    <li class="list-group-item d-flex">
        <div class="col">Titre</div>
        <div class="col">
            <span th:text="${jeu.title}"></span>
        </div>
    </li>
    <li class="list-group-item d-flex">
        <div class="col">Nombre de joueur min</div>
        <div class="col">
            <span th:text="${jeu.min}"></span>
        </div>
    </li>
    <li class="list-group-item d-flex">
        <div class="col">Nombre de joueur max</div>
        <div class="col">
            <span th:text="${jeu.max}"></span>
        </div>
    </li>
    <li class="list-group-item d-flex">
        <div class="col">Parties</div>
        <div class="col" th:each="contest: ${jeu.contests}">
            <div th:text="${contest}"></div>
        </div>
    </li>
</ul>
<th:block th:include="_commun/footer.html"></th:block>