<th:block th:include="_commun/header.html"></th:block>

<h1 class="alert alert-primary text-center">Nos jeux</h1>

<h2>Liste des Jeux</h2>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th><i class="fa fa-cogs"></i></th>
            <th>ID</th>
            <th>Nom</th>
            <th>Joueurs Minimum</th>
            <th>Joueurs Maximum</th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${jeux.empty}">
            <td colspan="3">Aucun Jeux en base de données</td>
        </tr>
        <tr th:each="jeu: ${jeux}">
            <td>
                <a th:href="@{/jeu/{id}/fiche(id=${jeu.id})}"><i class="fa fa-file"></i></a>
                <a th:href="@{/jeu/{id}/supprimer(id=${jeu.id})}"><i class="fa fa-trash text-danger"></i></a>
            </td>
            <td><span th:text="${jeu.id}"> Identifiant </span></td>
            <td><span th:text="${jeu.title}"> Titre </span></td>
            <td><span th:text="${jeu.min}">Nombre min</span></td>
            <td><span th:text="${jeu.max}">Nombre max</span></td>
        </tr>
    </tbody>
</table>
<th:block th:include="_commun/footer.html"></th:block>