<th:block th:include="_commun/header.html"></th:block>
<h1 class="alert alert-primary text-center">Fiche Personage</h1>

<!-- Afficher les infos du joueur -->
<ul class="list-group ">
    <li class="list-group-item d-flex">
        <div class="col">Identifiant</div>
        <div class="col">
            <span th:text="${joueur.id}"></span>
        </div>
    </li>
    <li class="list-group-item d-flex">
        <div class="col">Pseudo</div>
        <div class="col">
            <span th:text="${joueur.nickname}"></span>
        </div>
    </li>
    <li class="list-group-item d-flex">
        <div class="col">E-mail</div>
        <div class="col">
            <span th:text="${joueur.email}"></span>
        </div>
    </li>
    <li class="list-group-item d-flex">
        <div class="col">Participations</div>
        <div class="col">
            <span th:text="${joueur.contests}"></span>
        </div>
    </li>
    <li class="list-group-item d-flex">
        <div class="col">Victoires</div>
        <div class="col" th:each="win: ${joueur.wins}">
            <div th:text="${win}"></div>
        </div>
    </li>
</ul>
<th:block th:include="_commun/footer.html"></th:block>